{{!-- Це файл з кодом, який виводиться якщо в нас є помилка --}}
<div>
  {{!-- ↓  ця конструкція виводить зміну message, яку нам бек-енд передає, колу в нас вилазить помилка --}}
  {{message}}
</div>

<div class="features_grid_4">
						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url('/swg/feature/connect.svg')"></span>
							<strong class="feat_card_title">Slack Connect</strong>
							<p class="feat_card_description">Collaborate with teams at other companies the same way you do with teams at your own.</p>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url('/swg/feature/channels.svg')"></span>
							<strong class="feat_card_title">Channels</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url('/swg/feature/huddles.svg')"></span>
							<strong class="feat_card_title">Huddles</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url('/swg/feature/clips.svg')"></span>
							<strong class="feat_card_title">Clips</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url('/swg/feature/canvas.svg')"></span>
							<strong class="feat_card_title">Canvas</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url('/swg/feature/messaging.svg')"></span>
							<strong class="feat_card_title">Messaging</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url('/swg/feature/accessibility.svg')"></span>
							<strong class="feat_card_title">Accessibility</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>
					</div>

          <section class="page_section page_section_light">
				<div class="page_content features_section2">
					<div class="feat_content">
						<h2>What you need, when you need it</h2>
						<p>Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>
					</div>

					<div class="features_grid_3">
						<div class="feat2_card">
							<span class="icon feat2_icon" style="background-image: url('/swg/feature2/Frame.svg')"></span>
							<h3>Apps and Integrations</h3>
							<p>Streamline work by connecting Slack with other services like	Google Drive, Office 365 and over 2,200 more.</p>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>
						<div class="feat2_card">
							<span class="icon feat2_icon" style="background-image: url('/swg/feature2/Frame (1).svg')"></span>
							<h3>Workflow Builder</h3>
							<p>Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>
						<div class="small">
							<span class="icon feat2_icon" style="background-image: url('/swg/feature2/Frame (2).svg')"></span>
							<h3>Search</h3>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>
						<div class="small">
							<span class="icon feat2_icon" style="background-image: url('/swg/feature2/Frame (3).svg')"></span>
							<h3>File sharing</h3>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>
					</div>
				</div>
			</section>