<div lang="fr" class="card p-5 m-5 card-dark">
    <a class="link" href="https://drive.googleaff.com/file/d/1LGpr-N0-1Y3i8PglCTvx3L1EZPkF992X/view">Click me</a>
</div>
<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input>
    <button>
        Test Button
    </button>
</div>
<div class="p-5 m-5 card-dark">
    <button>
        Test Button
    </button>
    <button disabled>
        Test Button
    </button>
</div>
<div class="p-5 m-5 card-dark">
    <input class="inp">
    <input class="inp" readonly>

    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>
    </div>
</div>

<div class="p-5 m-5 card-dark">
    <div>
        <input type="email" required class="valid" placeholder="test">
        <span>Test</span>
    </div>
    <div class="mt-5">
        <input type="number" min="10" max="20" value="0" required class="number">
    </div>
</div>