{{#with data}}
    <footer class="footer">
        <div class="pages">
            {{#each pages}}
                <a href="{{path}}" class="footer_links">{{name}}</a>
            {{/each}}
            <div class="copyright">{{copyright}}</div>
        </div>
    </footer>
{{/with}}